@tailwind utilities;
@tailwind base;
@tailwind components;

@font-face {
  font-family: "Bold";
  src: local("Unbuntu-Bold"),
    url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Medium";
  src: local("Unbuntu-Medium"),
    url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Regular";
  src: local("Unbuntu-Regular"),
    url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}
body {
  @apply bg-ligthBlue;
}
@layer components {
  .stack {
    @apply grid grid-cols-1 grid-rows-1;
  }
  .stack > * {
    grid-column: 1 /1;
    grid-row: 1/1;
  }
  .activeStep {
    @apply bg-ligthBlue;
  }
  #root {
    @apply md:flex justify-center items-center md:min-h-screen;
  }
  .next-btn {
    @apply bg-marineBlue font-Bold text-white px-6 py-3 after:transition-all after:duration-300 after:ease-in-out relative rounded-md ml-auto  mt-3 mb-2 after:bg-white after:absolute after:inset-0 after:opacity-0 hover:after:opacity-40;
  }
}
