@tailwind utilities;
@tailwind base;
@tailwind components;

@font-face {
  font-family: "Bold";
  src: local("Unbuntu-Bold"),
    url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Medium";
  src: local("Unbuntu-Medium"),
    url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Regular";
  src: local("Unbuntu-Regular"),
    url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}
@layer components {
  .stack {
    @apply grid grid-cols-1 grid-rows-1;
  }
  .stack > * {
    grid-column: 1 /1;
    grid-row: 1/1;
  }
  .activeStep {
    @apply bg-ligthBlue;
  }
}
