@tailwind utilities;
@tailwind base;
@tailwind components;

@font-face {
  font-family: "Bold";
  src: local("Unbuntu-Bold"),
    url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Medium";
  src: local("Unbuntu-Medium"),
    url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Regular";
  src: local("Unbuntu-Regular"),
    url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}
